html, body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: space-between;
    height: 100%;
    background-color: rgb(175, 132, 80);
}
footer{
    height: 60%;
}
/* Style the body */

img.max {
    display: flex;
    max-width: 90%;
    max-height: 90%;
}
    /* Header/logo Title */
  .header {
    flex-direction: row;
    align-items: center;
    display: flex;
    padding: 60px;
    text-align: center;
    color: white;
    background: rgb(8, 232, 217);
    padding: 5px;
    justify-content: space-between;
  }

.boutton {
    height: 100px;
    width: 100px;
}

#container {
    height: 100%;
    margin: 100px;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.imagesapp {
    margin: 7px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.imageappshover:hover {
        transform: scale(1.2);
        transition: transform 0.3s ease;
}
  #cookie-consent {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #0aa5ff;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to bottom, #19ebfa, #17b5ff);
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    color: #333;
    transition: transform 0.3s ease-in-out;
  }
  
  #accept-cookies {
    margin: 5px;
    padding: 8px 16px;
    font-size: 14px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #accept-cookies:hover {
    background-color: #0056b3;
  }
  
  #cookie-consent div {
    margin: 0;
    font-size: 14px;
    color: #333;
  }
  
  #decline-cookies{
    margin: 5px;
    padding: 8px 16px;
    font-size: 14px;
    color: #000000;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #accept-cookies:hover {
    background-color: #0056b3;
  }
  
  #decline-cookies:hover {
    background-color: #e4e4e4;
  }
  
  #personalize_cookies {
    background-color: #00829c;
    display: none;
    z-index: 500;
    height: 100%;
    color: white;
    width: 50%;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #personalize_cookies button {
    background-color: #0aa5ff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
  }